@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
  font-family: "Garamond", "EB Garamond", Georgia, serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #212529;
  font-size: 1.1rem;
}

header {
  background-color: #121212;
  color: #ffffff;
  padding: 20px 10%;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header .subtitle {
  font-size: 1.2em;
  font-style: italic;
}

main {
  padding: 20px 10%;
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
}

main h2 {
  font-size: 1.8em;
  margin-top: 40px;
  color: #343a40;
  border-bottom: 2px solid #dee2e6;
  padding-bottom: 5px;
}

main p {
  margin: 20px 0;
  font-size: 1.1em;
  text-align: justify;
}

.buttons {
  margin-top: 20px;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #090909;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 1em;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-weight: bold;
  border: 2px solid #090909;
}

.button:hover {
  background-color: #333333;
  color: #ffffff;
  border-color: #333333;
}

a {
  color: #000000;
}

main .math {
  font-family: "Courier New", Courier, monospace;
  background-color: #e9ecef;
  padding: 0 5px;
  border-radius: 3px;
}

strong {
  font-weight: bold;
  color: #495057;
}

footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  header {
    padding: 20px 5%;
    text-align: left;
  }

  header h1 {
    font-size: 2em;
  }

  header .subtitle {
    font-size: 1em;
  }

  main {
    padding: 20px 5%;
  }

  main h2 {
    font-size: 1.5em;
  }

  main p {
    font-size: 1em;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
  }

  .button {
    width: auto;
    margin: 0;
    padding: 7px 15px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5em;
  }

  header .subtitle {
    font-size: 0.9em;
  }

  main h2 {
    font-size: 1.3em;
  }

  main p {
    font-size: 0.9em;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    font-size: 0.75rem;
  }
  .button {
    padding: 5px 10px;
  }
}

.hero {
  background-image: url("./hero-image.jpg");
  background-size: cover;
  background-position: 50% 45%;
  color: #ffffff;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 150px 0;
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "Unpacking My Research for Everyone";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: inherit;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .hero {
    font-size: 3rem;
    padding: 100px 0;
  }
}

@media (max-width: 480px) {
  .hero {
    font-size: 2rem;
    padding: 80px 0;
  }
}
